#ROS stuff
furbot_ws/build/
furbot_ws/devel/
furbot_ws/logs/
furbot_ws/.catkin_tools/

#IDE stuff
furbot_ws/.idea/
cmake-build-debug/

#Cmake stuff
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

#Compiled stuff for testing
remote_receiver
status_sender


#MacOs related files
.DS_Store
